/* ==============
  Dashboard
===================*/
.dash-map{
  height: 235px;
}

#donut-example{
  height: 290px;
}


.area-chart-map{
  height: 200px;
  margin: 0 -26px -24px -24px;
}


.new-user table td,
.new-user ul li {
  img {
    margin-right: 8px;
    width: 36px;
  }
  .img-flag{
    width: 22px;
  }
}